:root 
{
--logo-color3: #000000;
--logo-color: #2196F3;
--minibox-logo-color2: #FFFFFF;
--background-color: #2F303A;
--text-color: #212121;
--subtext: #757575;
--nav-exceptions: #2196F3;
--footer-tel-gmail:#FFFFFF99;
--white: #FFFFFF;
}

a {
text-decoration: none;
}

li, ul
{
list-style-type: none;
}

.features_content
{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
}

.studio
{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: var(--nav-exceptions);
}

.portfolio
{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: var(--text-color);
}

.contacts
{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: var(--text-color);
}

.whath_we_do
{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: var(--text-color);

}

.herobord
{
background: var(--background-color);
}

.herotxt
{
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--white);

margin-right: 250px;
margin-bottom: 10px;
margin-left: 250px ;
}

.herobutt
{
background: var(--nav-exceptions);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

margin-left: 560px;
margin-bottom: 120px;
}

.txtbut{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: var(--white);
}

.features_text
{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
}

.myteam
{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: var(--text-color);
}

.Igor
{
background: url(4853.jpg);
border-radius: 0px;
background: var(--minibox-logo-color3);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.Olga
{
border-radius: 0px;
background: var(--minibox-logo-color3);

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

}

.Mikola
{
border-radius: 0px;
background: #F5F4FA;

background: var(--minibox-logo-color3);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.Mihailo
{
border-radius: 0px;

background: var(--minibox-logo-color3);

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

}

.team_member_name
{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

letter-spacing: 0.03em;

color: #212121;
}

.position
{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

letter-spacing: 0.03em;

color: var(--subtext);
}

.Footer
{
background: var(--background-color);
}

.address
{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;

letter-spacing: 0.03em;

color: var(--minibox-logo-color2);

margin-left: 120px;
}

.gmail-hero
{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: var(--nav-exceptions);
}

.gmail-footer
{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;

color: var(--footer-tel-gmail);

margin-left: 80px;
}

.logo
{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

letter-spacing: 0.03em;

color: var(--logo-color);

margin-left: 120px;
}

.logo2{
color: var(--minibox-logo-color2);
}

.logo3
{
color: var(--logo-color3);
}

.tel-hero
{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: var(--subtext);
}

.tel_footer
{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;

letter-spacing: 0.03em;

color: var(--footer-tel-gmail);

margin-left: 80px;
}